package layout

import "github.com/Woland-prj/dilemator/internal/view/ui"

type BaseProps struct {
	Title string
}

templ Base(props BaseProps) {
	<!DOCTYPE html>
	<html data-theme="cupcake">
		<head>
			<title>{ props.Title }</title>
			<link rel="stylesheet" href="/assets/main.css"/>
			<link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
		</head>
		<body>
			@ui.Header()
			<div>
				{ children... }
			</div>
			<script src="/assets/main.js"></script>
		</body>
	</html>
}
