# App
APP_NAME=giashka-go
APP_TG_BOT_NAME=sample_bot
APP_TG_BOT_TOKEN=xxxxxxxxx
APP_VERSION=1.0.0

# HTTP settings
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false

# Logger
LOG_ENV=local
LOG_FILE=logs/backend.log
LOG_MULTIPLE=false

# PG
PG_DB_NAME=dilemator
PG_HOST=localhost
PG_PASSWORD=dilemator_root_pass
PG_POOL_MAX=2
PG_PORT=5432
PG_USER=dilemator_root

# S3
S3_ACCESS_KEY=minioAccessKey
S3_BACKUP_BUCKET=backups
S3_BACKUP_PREFIX=postgres/giashka
S3_BUCKET_DOMAIN=http://localhost:9900/test-bucket
S3_BUCKET_NAME=test-bucket
S3_ENDPOINT=http://localhost:9900
S3_REGION=us-east-1
S3_SECRET_KEY=minioSecretKey

# Metrics
METRICS_ENABLED=false

# Swagger
SWAGGER_ENABLED=true

# Postgres
POSTGRES_DB=dilemator
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=dilemator_root_pass
POSTGRES_PORT=5432
POSTGRES_USER=dilemator_root

# Minio
MINIO_BUCKET=test-bucket
MINIO_ROOT_PASSWORD=minioSecretKey
MINIO_ROOT_USER=minioAccessKey

# GigaChat
GIGACHAT_API_KEY=key
