package ui

import "github.com/Woland-prj/dilemator/internal/domain/entity/dilemma_entity"

templ Dashboard(models []dilemma_entity.Dilemma) {
	<div class="flex flex-wrap items-center gap-8">
		for _, dilemma := range models {
			@DilemmaCard(dilemma)
		}
	</div>
}
