package ui

templ Header(props MenuProps) {
	<header class="navbar bg-base-100 shadow-sm">
		<!-- Левая часть: логотип -->
		<div class="flex-1">
			<a class="btn btn-ghost text-xl" hx-boost="true" href="/">Dilemator</a>
		</div>
		<!-- Правая часть: меню -->
		<div class="flex-none">
			@NavMenu(props)
		</div>
	</header>
}
