package ui

import "github.com/Woland-prj/dilemator/internal/domain/entity/user_entity"

templ ProfileCard(userModel user_entity.User) {
	<div class="container mx-auto py-4">
		<p>{ *userModel.Profile.Name }</p>
		<p>{ *userModel.Profile.Surname }</p>
		<img src={ *userModel.Profile.Avatar }/>
	</div>
}
