basePath: /.
definitions:
  requests.TgLogin:
    properties:
      auth_date:
        $ref: '#/definitions/requests.UnixTime'
      checkString:
        type: string
      first_name:
        type: string
      hash:
        type: string
      id:
        type: integer
      last_name:
        type: string
      photo_url:
        type: string
      username:
        type: string
    type: object
  requests.UnixTime:
    properties:
      time.Time:
        type: string
    type: object
  responses.Error:
    properties:
      details:
        additionalProperties: true
        type: object
      error:
        example: NOT_FOUND
        type: string
      message:
        example: Something Not Found
        type: string
      path:
        example: /api/target/resource
        type: string
      status:
        example: 404
        type: integer
      timestamp:
        example: 2025-07-24T09:51:43
        type: string
    type: object
host: dilemator.wwoland.ru
info:
  contact: {}
  description: API for dilemator.wwoland.ru
  title: Giashka Go API
  version: "1.0"
paths:
  /auth/login/tg:
    post:
      consumes:
      - application/json
      description: Authenticates user via telegram widget
      operationId: loginByTelegram
      parameters:
      - description: Tg auth data
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/requests.TgLogin'
      produces:
      - application/json
      responses:
        "204":
          description: Successfully authenticated, session cookie set
        "400":
          description: Invalid request body or validation failed
          schema:
            $ref: '#/definitions/responses.Error'
        "401":
          description: User with this id not found
          schema:
            $ref: '#/definitions/responses.Error'
        "403":
          description: Data not from telegram or tg login expired
          schema:
            $ref: '#/definitions/responses.Error'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: User login via telegram widget API
      tags:
      - auth-controller
  /auth/logout:
    post:
      description: Revokes current session
      operationId: logoutUser
      produces:
      - application/json
      responses:
        "204":
          description: Successfully logged out, session cookie cleared
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/responses.Error'
      summary: User logout
      tags:
      - auth-controller
swagger: "2.0"
