package nodeeditor

import "github.com/Woland-prj/dilemator/internal/view/ui"

templ ImagePreview(link string) {
	<div class="flex items-center justify-center bg-base-300 border-neutral rounded-box w-full h-full border border-dashed p-4">
		if link != "" {
			<img src={ link } alt="Preview" class="max-h-96 rounded-lg shadow-lg object-contain"/>
		} else {
			@ui.EmptyImageIcon()
		}
	</div>
}
